h1, h2, h3, h4, h5, p, a {
  font-family: 'Ubuntu', sans-serif;
}

.landing-bg {
  height: 100vh;
  width: 100%;
}

.title-font {
  font-family: 'Luckiest Guy', cursive !important;
  font-size: 4.2em;
  text-shadow: 2px 2px 2px #ccc;
}

.nav-title-font {
  font-family: 'Luckiest Guy', cursive !important;
}

.transparent {
  background:rgba(126, 126, 126, 0.5) !important;
}

.fit-screen {
  height: 100vh;
  width: 100%;
  background: url(../img/debut_dark.png) repeat 0 0;
}

.texture-form {
  height: 100vh;
  width: 100%;
}

.transparent-box {
  background: #7f7f7f;
  background: rgba(0,0,0,0.5);
  padding-top: 5em;
  padding-bottom: 5em;
  border-radius: 10px;
}

.vertical-align-wrap {
  padding-top: 18em;
  padding-bottom: 4em;
}

.text-center {
  text-align: center;
}

.row-align {
  padding-top: 6em;
  padding-bottom: 4em;
}

.next-prompt-bg {
  height: 100vh;
  width: 100%;
  background-color: #251818;
}

.next-prompt {
  padding-top: 18em;
  padding-bottom: 18em;
  text-align: center;
}

.landing-prompt {
  padding-top: 18em;
  padding-bottom: 18em;
  text-align: center;
}

.white-font {
  color: #FFFFFF;
}

.reddish-font {
  color: #FF6A48;
}

.session-menu {
  height: 18em;
  width: 100%;
  background-color: rgb(55, 55, 55);
}

.session-complete {
  height: 18em;
  width: 100%;
  background-color: #272525;
}

.space-top {
  margin-top: 25px;
}

.red-btn {
  background-color: #E22222;
}
