<div class="next-prompt-bg">
  <div class="next-prompt">
    <h1 class="white-font">KEVIN IS NEXT</h1>
    <h3 class="white-font">Singing: Lose Yourself</h3>
  </div>
</div>

<div class="session-menu">
  <ul class="small-block-grid-2">
    <li><a href="#" class="button">Default Button</a></li>
    <li><a href="#" class="button">Default Button</a></li>
  </ul>
</div>
