<div class="next-prompt-bg">
  <div class="next-prompt">
    <h1 class="white-font bounceIn">KEVIN IS NEXT</h1>
    <h3 class="white-font bounceIn">Singing: Lose Yourself</h3>
  </div>
</div>

<div class="session-menu small-8 small-centered columns">
  <div class="row row-align">
    <div class="small-6 columns">
      <a href="#" class="button expand success radius"><i class="fa fa-calendar-o"></i> Reserve</a>
    </div>
    <div class="small-6 columns">
      <a href="#" class="button expand alert radius"><i class="fa fa-users"></i> View Queue</a>
    </div>
  </div>
</div>
