<div class="landing-bg">
  <div class="landing-prompt">
    <div class="small-6 small-centered columns">
      <h1 class="title-font white-font bounceIn">KEGS & KARAOKE!</h1>
      <a href="/sessions" class="button alert radius bounceIn"><i class="fa fa-beer"></i> Get Started</a>
    </div>
  </div>
</div>
